<html>
  <head>
    <link href="../Content/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../Content/css/styles.css" rel="stylesheet" type="text/css">
    <script src="../Content/jquery-3.1.1.js"></script>
    <title>Word Counter</title>
  </head>
	<body>
    <div class="container">
      <h2>Here are your results</h2>
      <div class="result">
        @if (Model.WordsCounted == 1)
        {
          <h3>Your word appeared @Model.WordsCounted time in your sentence.</h3>
        } else
        {
          <h3>Your word appeared @Model.WordsCounted times in your sentence.</h3>
        }
      </div>
    </div>
  </body>
</html>
