<html>
  <head>
    <link href="../Content/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../Content/styles.css" rel="stylesheet" type="text/css">
    <script src="../Content/jquery-3.1.1.js"></script>
    <title>Word Counter</title>
  </head>
	<body>
    <div class="container">
      <h1>Here are your results</h1>
      <div class="result">
        <h3>Your word appeared @Model times in your sentence.</h3>
      </div>
    </div>
  </body>
</html>
